[Unit]
Description=Add +r and +w to /dev/ttyS0 due to groups problem. Hack!
StartLimitIntervalSec=1

[Service]
Type=oneshot
RemainAfterExit=yes
User=pi
ExecStart=/home/pi/BlackBox/PoCs/enable_read_write_option_on_ttyS0.sh


[Install]
WantedBy=multi-user.target
