[Unit]
Description=Main ISOML application. Inteligenty System Optymalizacji i Monitorowania Lotu
After=isoml.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python /home/pi/BlackBox/isoml/isoml

[Install]
WantedBy=multi-user.target