[Unit]
Description=Waveshare communication and position control file
After=isoml.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python /home/pi/BlackBox/isoml/waveshare

[Install]
WantedBy=multi-user.target